@media screen and (max-width: 843px ) {
.lerftcss,.rightcss{
    display: none;
}
  }
@media screen and (max-width: 767px ) {
.doamin{
    padding: 15px;
}
  }
@media screen and (max-width: 680px ) {
    .main_container{
        display: flex;
        flex-direction: column;
    }

  }
@media screen and (max-width: 596px ) {
  .list_links{
    display: none;
  }
 

  } 
@media screen and (max-width: 375px ) {
    .box_child_1 h1 {
        font-size: 2rem;
        line-height: 47px;
    }
    .box_child_2 p {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 151.34%;
    }
    .skill_heading{
        font-size: 0.6rem;
    }

  } 